<div class="container-fluid" style="background-color: #F6F8F9;height: 80px;">
    <div class="row ">

        <!--左部菜单部分-->
        <div class="menu col-lg-2">

        </div>

        <!--右部详细页面内容部分-->
        <div class="col-lg-10">
            <div class="index  height-40">

            </div>
                <div>
                    <div class="font_copyright">
                        <span>关于领路人 |</span>
                        <span>服务协议 |</span>
                        <span>联系邮箱 |</span>
                        <span>问题反馈 </span>
                    </div>
                    <div class="foot-lie">

                    </div>
                    <div class="font_copyright">
                        Copyright © 2013-2018 mitang  runoob.com All Rights Reserved.
                    </div>
                </div>
        </div>
    </div>
</div>


<script  type="text/javascript" src="__static__admin/js/jquery-1.11.1.min.js"></script>
<script  type="text/javascript" src="__static__admin/js/jquery.ui.js"></script>
<script  type="text/javascript" src="__static__admin/js/jquery-1.11.1.min.js"></script>