<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__static__admin/css/bootstrap.css">
    <link rel="stylesheet" href="__static__admin/css/admin.css">

    <link rel="stylesheet" href="__static__admin/fonts/glyphicons-halflings-regular.eot">
    <link rel="stylesheet" href="__static__admin/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="__static__admin/fonts/glyphicons-halflings-regular.ttf">
    <link rel="stylesheet" href="__static__admin/fonts/glyphicons-halflings-regular.woff">
    <link rel="stylesheet" href="__static__admin/fonts/glyphicons-halflings-regular.woff2">

    <script  type="text/javascript" src="__static__admin/js/jquery-1.11.1.min.js"></script>
    <title> 领路人后台管理系统</title>
</head>
<body>
    <div class="container-fluid navigation-bk  font-color-fff">
            <div class="row height-60">
                <div class="col-lg-6  text-level-left clearfix">
                    <div class="pull-left">
                        <img src="__static__/admin/image/eamil.png" alt="" class="image-yuan">
                    </div>
                    <div class="pull-left height-40 padding-left-10 font-size-25">
                        领路人后台管理系统
                    </div>
                </div>
                <div class="col-lg-6  text-level-right clearfix">
                    <div class="pull-right text-level-center">
                        <div class="nickname">身份</div>
                        <div class=" ">
                            <a href="{:url('login/signOut')}"><span class="" style="color: #fff;">退出</span></a>
                            <span> &nbsp | &nbsp </span>
                            <span class="">更换账号</span>
                        </div>
                    </div>
                    <div class="pull-right padding-right-10">
                        <img src="__static__/admin/image/eamil.png" alt="邮箱" class="image-yuan">
                    </div>
                    <div class="pull-right padding-right-10">
                        <img src="__static__/admin/image/header.png" alt="头像" id="head_img" class="image-yuan">
                    </div>
                </div>
        </div>
    </div>

    <script>

        $(document).ready(function (){
            $.post("{:url('login/getUserInfo')}",function(data){
                console.log(data);
                document.getElementById("head_img").src=data.avatar_url;
                console.log(data.nick_name)
                $('.nickname').html(data.nick_name);


            });

        });
    </script>