
    <div class="index clearfix height-40">

    </div>
    <div class="col-lg-offset-1">
        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/index.png" alt="" class="image-yuan-12">
            </div>
            <a href="{:url('index/index')}">
                <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600 font-color-93DBD5">
                    首页
                </div>
            </a>
        </div>

        <div class="clearfix height-40 margin-top-10">
            <div class="pull-left">
                <img src="__static__/admin/image/guanli.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
                管理
            </div>
        </div>
        <ul class="ul_side">
            <a href="{:url('User/index')}?type=0"> <li class="active">导师管理</li></a>
            <a href="{:url('User/index')}?type=1"><li>学生管理</li></a>
            <a href="{:url('User/index')}?type=2"><li>家长管理</li></a>
            <a href=""> <li class="boundary"></li></a>
        </ul>
        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/text.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
                领路人计划
            </div>
        </div>
        <ul class="ul_side">
            <a href="{:url('programme/index')}"><li>四年规划</li></a>
            <a href=""><li>一年规划</li></a>
            <a href=""><li class="boundary"></li></a>
        </ul>




        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/text.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
                反馈报告
            </div>
        </div>
        <ul class="ul_side">
            <a href=""><li>导师反馈</li></a>
            <a href=""><li>家教反馈</li></a>
            <a href=""><li>作业反馈</li></a>
            <a href=""><li>学术反馈</li></a>
            <a href=""><li>软实力反馈</li></a>
            <a href=""><li>硬实力反馈</li></a>
            <a href=""><li class="boundary"></li></a>
        </ul>


        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/text.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
               信息发布
            </div>
        </div>
        <ul class="ul_side">
            <a href=""><li>通知</li></a>
            <a href=""><li>活动</li></a>
            <a href=""><li>提醒</li></a>
            <a href=""><li>选课</li></a>
            <a href=""><li class="boundary"></li></a>
        </ul>


    </div>
