
    <div class="index clearfix height-40">

    </div>
    <div class="col-lg-offset-1">
        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/index.png" alt="" class="image-yuan-12">
            </div>
            <a href="{:url('index/index')}">
                <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600 font-color-93DBD5">
                    首页
                </div>
            </a>
        </div>

        <div class="clearfix height-40 margin-top-10">
            <div class="pull-left">
                <img src="__static__/admin/image/guanli.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
                管理
            </div>
        </div>
        <ul class="ul_side">
            <a href="{:url('User/index')}"> <li class="active">老师管理</li></a>
            <a href=""><li>学生管理</li></a>
            <a href=""><li>家长管理</li></a>
            <a href=""> <li class="boundary"></li></a>
        </ul>
        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/text.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
                领路人计划
            </div>
        </div>
        <ul class="ul_side">
            <a href=""><li>四年规划</li></a>
            <a href=""><li>一年规划</li></a>
            <a href=""><li class="boundary"></li></a>
        </ul>


        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/huiyuan.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 font-weight-600">
                会员中心
            </div>

        </div>
        <ul  class="ul_side">
            <a href=""> <li class="boundary"></li></a>
        </ul>
        <div class="clearfix height-40">
            <div class="pull-left">
                <img src="__static__/admin/image/feiji.png" alt="" class="image-yuan-12">
            </div>
            <div class="pull-left height-40 padding-left-10 font-size-15 ">
                课程活动
            </div>
        </div>


    </div>
