<div class="container-fluid" style="background-color: #F6F8F9;">
    <div class="row ">

        <!--左部菜单部分-->
        <div class="menu col-lg-2">
            {include file="layout/side"}
        </div>

        <!--右部详细页面内容部分-->
        <div class="col-lg-10">
            <div class="index  height-40">

            </div>
            <!--整体账号情况-->
            <div class="chunk_back report shade  col-lg-12 padding-bottom-20 col-lg-12">
                <div class="font-size-15 font-weight-600 margin-1">整体账号情况</div>
                <div class="">

                    <div class="data  col-lg-4 text-level-center">
                        <div class="data_ico ">
                            <span><img  class="index_ico" src="__static__/admin/image/shangzhang.png" alt=""></span>
                            <span class="index_num">新增人数</span>
                        </div>
                        <div class="data_num font-weight-600 margin-top-20">{$new_add}</div>
                    </div>

                    <div class="data  col-lg-4 text-level-center">
                        <div class="data_ico">
                            <span><img  class="index_ico" src="__static__/admin/image/jiazhang.png" alt=""></span>
                            <span class="index_num ">家长</span>
                        </div>
                        <div class="data_num font-weight-600 margin-top-20 ">{$parent_count}</div>
                    </div>

                    <div class="data  col-lg-4 text-level-center">
                        <div class="data_ico">
                            <span><img  class="index_ico" src="__static__/admin/image/student.png" alt=""></span>
                            <span class="index_num">学生</span>
                        </div>
                        <div class="data_num font-weight-600 margin-top-20">{$student_count}</div>
                    </div>

                </div>
            </div>


    <!--日程时间轴-->

            <div class="chunk_back margin-top-20 col-lg-12  report shade " style="">
                <div>
                    <div class="timeLinelie font-size-15 font-weight-600">日程时间轴</div>
                    <div class="timeLinelie"></div>
                    <div class="timeLinelie"></div>
                    <div class="timeLinelie"></div>
                </div>

                <div class="timer_shaft">

                </div>
            </div>
    <!--报表内容-->



            <div class="chunk_back report margin-top-10 col-lg-12  report shade  ">
                <div class="timeLinelie font-size-15 font-weight-600  margin-1">报表内容</div>
                <a href="{:url('user/add')}">
                <div class="report-img col-lg-2 text-level-center">
                    <img src="__static__/admin/image/bao5.png" alt="" class="report-img">
                    <div class="margin-top-10">信息采集</div>
                </div>
                </a>
                <a href="">
                <div class="report-img col-lg-2 text-level-center">
                    <img src="__static__/admin/image/bao2.png" alt="" class="report-img">
                    <div class="margin-top-10">选课规划</div>
                </div>
                </a>
                <a href="">
                    <div class="report-img col-lg-2 text-level-center">
                    <img src="__static__/admin/image/bao1.png" alt="" class="report-img">
                    <div class="margin-top-10">学术报告</div>
                    </div>
                </a>
                <a href="">
                <div class="report-img col-lg-2 text-level-center">
                    <img src="__static__/admin/image/bao1.png" alt="" class="report-img">
                    <div class="margin-top-10">软实力</div>
                </div>
                </a>
                <a href="">
                <div class="report-img col-lg-2 text-level-center">
                    <img src="__static__/admin/image/bao3.png" alt="" class="report-img">
                    <div class="margin-top-10">硬实力</div>
                </div>
                </a>
                <a href="">
                <div class="report-img col-lg-2 text-level-center">
                    <img src="__static__/admin/image/bao4.png" alt="" class="report-img">
                    <div class="margin-top-10">数据分析</div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
