<title>老师管理界面</title>

<div class="container-fluid" style="background-color: #F6F8F9;height: 800px;">
    <div class="row ">

        <!--左部菜单部分-->
        <div class="menu col-lg-2">
            {include file="layout/side"}
        </div>

        <!--右部详细页面内容部分-->
        <div class="col-lg-10">
            <!-- 替换内容-->
            <div class="index  height-40">

            </div>
            <div class="font-size-25 font-weight-600">
                修改用户信息
            </div>
            <div class="chunk_back col-lg-12 margin-top-10 report shade ">
                
            </div>
            <!--替换内容-->
        </div>权限
    </div>
</div>
