<title>老师管理界面</title>

<div class="container-fluid" style="background-color: #F6F8F9;height: 800px;">
    <div class="row ">

        <!--左部菜单部分-->
        <div class="menu col-lg-2">
            {include file="layout/side"}
        </div>

        <!--右部详细页面内容部分-->
        <div class="col-lg-10">
            <div class="index  height-40"></div>
            <div class="font-size-25 font-weight-600">
                {switch name="$r_id" }
                {case value="2"} 家长管理  {/case}
                {case value="1"} 学生管理  {/case}
                {case value="0"} 老师管理  {/case}
                {default /}
                {/switch}
            </div>

            <div class="chunk_back col-lg-12 margin-top-10 report shade ">

                <!--按条件进行查询-->
                <form method="POST" action="{:url('user/index')}?type={$r_id}" enctype="multipart/form-data">
                    <div class="col-lg-6">
                        <input type="text" name="search" placeholder="输入姓名/昵称/地址/手机号" class="nborder-radio-5 col-lg-6" style="width:240px;height: 35px;" >
                        <a href="{:url('user/index')}?type={$r_id}"><button class="col-lg-6 glyphicon glyphicon-search font-size-25" style="border:none;background: none;width: 20px;color:#ccc;margin-top:5px;display: block"></button></a>
                    </div>
                </form>
                <!--end 按条件进行查询-->

                <div class="col-lg-6 text-level-right">
                    <a href="{:url('user/add')}"><button class="btn btn_gre" style=" color: #fff;background-color: #66CCC4;border-color: #66CCC4;">新增</button></a>
                </div>
                <div class="tabel col-lg-12">
                    <form method="POST" action="{:url('user/index')}?type={$r_id}" enctype="multipart/form-data">
                       <!--按时间进行查询-->
                        <div class="margin-top-20 margin-left-03">　　　
                            <input type="date" name="start_time" style="width:150px;height: 30px;border-radius: 5px;height: 30px;"> 至 <input type="date" name="end_time" style="border-radius: 5px;height: 30px;width:150px;height: 30px;">
                　　　　　    <button class="btn btn_gre" type="submit" style=" color: #fff;background-color: #66CCC4;border-color: #66CCC4;height: 30px;">查询</button>
                        </div>
                        <!--end 按时间进行查询结束-->
                        <table class="table table-striped text-level-center margin-top-20">
                            <tr class="">
                                <td>姓名</td>  <td>性别</td> <td>电话</td> <td>地址</td><td>操作</td>
                            </tr>
                        <!--循环输出用户基本信息-->
                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.name}</td>
                                {switch name="$vo.sex" }
                                {case value="0"} <td>未知</td>{/case}
                                {case value="1"} <td>男</td>{/case}
                                {default /} <td>女</td>
                                {/switch}
                                <td>{$vo.telephone}</td>
                                <td>{$vo.address}</td>
                                <td>
                                    <span>  <a href="{:url('user/edit',['id'=>1])}"><img class="index_ico" src="__static__/admin/image/edit.png" alt="" id=""></a></span>
                                    　
                                    <span  onclick="del({$vo.id})" ><img class="index_ico"  src="__static__/admin/image/del.png" alt="" id="del"></span>
                                </td>
                            </tr>
                            {/volist}
                            <!--end 输出用信息-->

                            <!--分页-->
                            <tr>
                                <td>
                                    总计{$count}位
                                </td>
                                <td colspan="4" class="page text-level-right">
                                    {if condition="($page <= 0)"}
                                    {else /}
                                    <a href="{:url('user/index')}?page={$page-1}"><div class="btn border-radio-5 chunk_back">◄</div></a>
                                    {/if}

                                    {for start="0" end="$page_list"}
                                        {if condition="($page == $i)"}
                                    <a href="{:url('user/index')}?page={$i}">   <div class="btn font-style-page font-style-page-default" onclick="checkPage({$i})">{$i+1}</div></a>
                                        {else /}
                                    <a href="{:url('user/index')}?page={$i}">   <div class="btn border-radio-5 chunk_back" onclick="checkPage({$i})" >{$i+1}</div></a>
                                        {/if}
                                    {/for}

                                    {if condition="($page_list <= 0)"}
                                    {elseif condition="$page == $page_list-1 " /}
                                    {else /}
                                     <a href="{:url('user/index')}?page={$page+1}"><div class="btn  border-radio-5 chunk_back">►</div></a>
                                    {/if}
                                </td>
                            </tr>
                            <!--end 分页-->
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

// <!--删除用户信息JS -->
    function del($page) {
        con=confirm("你确定删除吗?");
        if(con==true){
            $.post("{:url('user/delAction')}",{'id':$page},function(data){
                console.log(data);
                if(data['code'] == 1){
                    location.href = '{:url("user/index")}';
                }else{
                    alert('删除失败');
                }

            });
        }
    }
<!--end 删除用户信息JS-->

</script>
