<title>老师管理界面</title>

<div class="container-fluid" style="background-color: #F6F8F9;height: 800px;">
    <div class="row ">

        <!--左部菜单部分-->
        <div class="menu col-lg-2">
            {include file="layout/side"}
        </div>

        <!--右部详细页面内容部分-->
        <div class="col-lg-10">
            <!-- 替换内容-->
            <div class="index  height-40">

            </div>
            <div class="font-size-25 font-weight-600">
              四年规划
            </div>
            <div class="chunk_back col-lg-12 margin-top-10 report shade ">
                <form method="POST" action="{:url('programme/index')}?type=" enctype="multipart/form-data">
                    <div class="col-lg-6">
                        <input type="text" name="search" placeholder="输入导师姓名/学生姓名/四年规划表名称" class="nborder-radio-5 col-lg-6" style="width:360px;height: 35px;" >
                        <a href="{:url('programme/index')}"><button class="col-lg-6 glyphicon glyphicon-search font-size-25" style="border:none;background: none;width: 20px;color:#ccc;margin-top:5px;display: block"></button></a>
                    </div>
                </form>
                <div class="tabel col-lg-12">
                    <form method="POST" action="{:url('programme/index')}?type=" enctype="multipart/form-data">
                        <!--按时间进行查询-->
                        <div class="margin-top-20 margin-left-03">　　　
                            <input type="date" name="start_time" style="width:150px;height: 30px;border-radius: 5px;height: 30px;"> 　至　 <input type="date" name="end_time" style="border-radius: 5px;height: 30px;width:150px;height: 30px;">
                            　　　　　    <button class="btn btn_gre" type="submit" style=" color: #fff;background-color: #66CCC4;border-color: #66CCC4;height: 30px;">查询</button>
                        </div>
                        <!--end 按时间进行查询结束-->
                        <table class="table table-striped text-level-center margin-top-20">
                            <tr>
                                <th class="text-level-center">四年规划表名称</th>  <th  class="text-level-center">导师姓名</th> <th  class="text-level-center">学生姓名</th> <th  class="text-level-center">操作</th>
                            </tr>
                            <!--循环输出用户基本信息-->


                            {volist name="list" id="vo"}
                            <tr>
                                <td>{$vo.schedule_name}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.sname}</td>
                                <td>
                                    <span>  <a href="{:url('user/edit',['id'=> $vo.id])}"><img class="index_ico" src="__static__/admin/image/edit.png" alt="编辑？" id=""></a></span>　
                                    <span  onclick="del({$vo.id})" ><img class="index_ico"  src="__static__/admin/image/del.png" alt="Delete？" id="del"></span>

                                </td>
                            </tr>
                            {/volist}
                            <!--end 输出用信息-->

                            <!--分页-->
                            <tr>
                                <td>
                                    总计{$count}条规划
                                </td>
                                <td colspan="4" class="page text-level-right">
                                    {if condition="($page <= 0)"}
                                    {else /}
                                    <a href="{:url('programme/index')}?page={$page-1}"><div class="btn border-radio-5 chunk_back">◄</div></a>
                                    {/if}

                                    {for start="0" end="$page_list"}
                                    {if condition="($page == $i)"}
                                    <a href="{:url('programme/index')}?page={$i}">   <div class="btn font-style-page font-style-page-default" onclick="checkPage({$i})">{$i+1}</div></a>
                                    {else /}
                                    <a href="{:url('programme/index')}?page={$i}">   <div class="btn border-radio-5 chunk_back" onclick="checkPage({$i})" >{$i+1}</div></a>
                                    {/if}
                                    {/for}

                                    {if condition="($page_list <= 0)"}
                                    {elseif condition="$page == $page_list-1 " /}
                                    {else /}
                                    <a href="{:url('programme/index')}?page={$page+1}"><div class="btn  border-radio-5 chunk_back">►</div></a>
                                    {/if}
                                </td>
                            </tr>
                            <!--end 分页-->
                        </table>
                    </form>
                </div>
            </div>
            <!--替换内容-->
        </div>
    </div>
</div>g
<script>
    function del($page) {
        con=confirm("Are you sure to delete it?");
        if(con==true){
            $.post("{:url('programme/delAction')}",{'id':$page},function(data){
                console.log(data);
                if(data['code'] == 1){
                    alert('deleted successfully!');
                    location.href = '{:url("programme/index")}';
                }else{
                    alert('Delete failed!');
                }

            });
        }
    }
</script>